
@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("GothamLight"),
    url("./fonts/GothamLight_0.ttf") format("woff");
}

body{

  color: #8fb8d1;
}
.descText{

    margin-top: 50px;
    font-size: 17px;
}
.App-logo {
  height: 95px;
  pointer-events: none;
  margin-left: 4px;
  margin-right: 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainBody{
  height: 80vh;
  background-color: #0a1a2a;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 20vh;
}
.firstPic{
  width: 250px;
}
.secondPic{
  width: 305px;
  position: relative;
    top: -2px;
}
.word-text{
  font-size: 25px;
}

.word:hover{
  -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}
.content{
  width: 672px;
}


.words-body{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}



ul{
  margin: 0;
  padding: 0;
  display: inline-block;
  /* transform: translateY(-50%) translateX(-50%); */
  font-size: 30px;
  cursor: pointer;

}
ul li{
  list-style: none;
  float: left;
  transition: .9s;
    /* font-family: 'Light'; */

}

ul:hover li{
  transform: rotateY(180deg);
}
 .descText + ul:hover{
  display: block;
}

.footertext{
  cursor: pointer;position: absolute;
  bottom: 20px;
  text-decoration: underline;
  color: #8fb8d1;

}






@media screen and (max-width: 600px) {
  .firstPic {
   width: 120px;
  }
  .secondPic{
    width: 144px;

  }
  .App-logo {
    height: 46px;
  }
  ul li{
    font-size: 14px;
  }
  .descText{
    font-size: 12px;
  }
  .content{
    width: 327px;
  }
  
  .mainBody{
    padding-top: 10vh;
    height: 90vh;
  }
}